// Variables
$dark-grey: #2a2a2b;
$gunmetal: #606666;
$light-gray: #d0d0d0;
$very-light-gray: #eaeaea;
$dark-blue-grey: #0d1c2e;
$greyish-blue: #5b859c;
$light-grey-blue: #99b1bd;
$error: #ba0000;
$light-peach: #ead7c0;
$white: #ffffff;

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body #root {
  margin: 0;
  padding: 0;
  color: $dark-grey;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: $very-light-gray;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/*-- General --*/

button {
  border-radius: 0 !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500 !important;
  font-size: 1em !important;
  text-transform: inherit !important;
}

.btn,
.main-container .btn {
  border: none;
  color: $white;
  background-color: $greyish-blue;
  &:focus,
  &:hover {
    color: $white;
  }
}

.main-container {
  height: 100%;
  min-height: calc(100vh - 50px);
  margin-top: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $dark-grey;
  color: $white;
  height: 50px;
  align-items: center;
  padding: 0 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  & .nav-logo {
    height: 55%;
    & svg {
      height: 100%;
    }
  }
  & .signup-btn {
    padding: 0.1em 0.8em 0.2em;
    font-weight: 300;
  }
  & ul {
    display: flex;
    margin: 0;
    height: 100%;
    align-items: center;
    & li {
      margin: 0;
      margin-left: 5px;
      list-style: none;
      height: 50%;
      & svg {
        height: 100%;
        width: auto;
        & path {
          fill: $white;
        }
      }
    }
  }
  & p {
    margin: 0;
  }
}

.signup-form {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.1em;
  & form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10%;
    & .label {
      color: $dark-blue-grey;
      margin: 3% 0;
      font-family: 'EB Garamond', serif;
      font-size: 1.2em;
    }
    & .input {
      background-color: $white;
      border-radius: 0;
      height: auto;
      font-size: 1.1em;
      padding: 8px 10px;
      &:focus {
        border-color: $greyish-blue;
      }
    }
    & .btn {
      margin: 5% auto;
      font-size: 1em;
    }
  }
  & .error-message {
    color: $error;
    font-size: 0.8em;
    margin: -10px 0 5px;
    &:before {
      content: '*';
      padding: 0 5px;
    }
  }
  & .bottom-text {
    margin-top: 20%;
    color: $gunmetal;
    text-align: center;
    font-size: 0.9em;
    & a {
      color: $greyish-blue;
    }
  }
}
.home-section {
  position: relative;
  height: 100%;
  min-height: calc(100vh - 110px);
  background-image: url(/img/forest.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  & .counds-header {
    border-bottom: 1px solid $light-gray;
    position: relative;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    & .clouds {
      position: absolute;
      height: 65%;
      opacity: 0.85;
    }
    & .left-cloud {
      left: 0;
      bottom: 0;
    }
    & .right-cloud {
      right: 0;
      top: 0;
    }
  }
  & h2 {
    text-align: center;
    margin: 15px 0;
    font-size: 1.25em;
    letter-spacing: 1.5px;
  }
  & .new-message-btn {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0;
    height: 60px;
    font-size: 1.1em;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    & svg {
      height: 30px;
      margin-right: 8px;
    }
  }
}

.message-card {
  & .message-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    width: 100%;
    min-height: 250px;
    padding: 45px;
    font-family: 'EB Garamond', serif;
    font-size: 1.2em;
    font-weight: 700;
    margin: 0;
  }
  & .message-info {
    & .categories {
      display: flex;
      border: none;
      background: none;
      margin: 0;
      padding: 0;
      color: $dark-grey;
    }
  }
  & .message-bottom {
    margin-bottom: 50px;
    position: relative;
    width: 100%;
    &:after {
      content: '';
      position: absolute;
      left: 25px;
      top: -1px;
      border-top: solid 20px $white;
      border-right: solid 25px transparent;
    }
  }
  .message-reactions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    & .reaction-btn {
      background: none;
      border: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      & img {
        width: 32px;
      }
    }
    & .text-button {
      color: $dark-grey;
      border: 2px solid $dark-grey;
      border-radius: 0;
      padding: 0 0.8em;
    }
  }
}
