// Variables
$dark-gray: #2a2a2b;
$gunmetal: #606666;
$gray: #d0d0d0;
$light-gray: #eaeaea;
$very-light-gray: #f6f6f6;
$dark-blue-gray: #0d1c2e;
$grayish-blue: #5b859c;
$light-gray-blue: #99b1bd;
$error: #ba0000;
$notification: #e1091e;
$light-peach: #ead7c0;
$white: #ffffff;

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body #root {
  margin: 0;
  padding: 0;
  color: $dark-gray;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: $light-gray;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/*-- General --*/

button {
  border-radius: 0 !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
  text-transform: inherit !important;
  font-size: 1em !important;
  line-height: 1 !important;
  height: auto !important;
}

.btn,
.main-container .btn {
  border: none;
  color: $white;
  background-color: $grayish-blue;
  &:focus,
  &:hover {
    color: $white;
  }
}

.main-container {
  height: 100%;
  min-height: calc(100vh - 50px);
  margin-top: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $dark-gray;
  color: $white;
  height: 50px;
  align-items: center;
  padding: 0 1em;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  .nav-logo {
    height: 55%;
    svg {
      height: 100%;
    }
  }
  .signup-links {
    display: flex;
    align-items: center;
    .signup-btn {
      padding: 0;
      font-weight: 500;
      font-size: 1.1em;
      color: $light-gray-blue;
      border: none;
      background: none;
    }
    span {
      color: $white;
      margin: 0 10px;
    }
  }
  ul {
    display: flex;
    margin: 0;
    height: 100%;
    align-items: center;
    li {
      margin: 0;
      margin-left: 10px;
      list-style: none;
      height: 50%;
      svg {
        height: 100%;
        width: auto;
        path {
          fill: $white;
        }
      }
    }
  }
  p {
    margin: 0;
  }
  .notification {
    position: relative;
    .notification-wrapper {
      background-color: $notification;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      animation: slidein 0.25s forwards;
      animation-timing-function: cubic-bezier(0.19, 0.66, 0.65, 1.54);
    }
  }
}

@keyframes slidein {
  from {
    top: -15px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.side-menu,
.notifications-menu {
  position: absolute;
  background-color: $grayish-blue;
  z-index: 10;
  color: $white;
  width: 100%;
  right: 0;
  padding: 0;
  height: 100%;
  position: fixed;
  overflow: hidden;
  z-index: 20;
  transform: translateX(100%);
  transition: all 0.15s ease-out;
  ul,
  li,
  p {
    margin: 0;
  }
  &.showing {
    transform: translateX(0);
    transition: all 0.35s ease-out;
  }
  .greeting,
  .title {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    border-top: 1px solid $light-gray-blue;
    li {
      display: flex;
      list-style: none;
      padding: 20px 30px;
      display: flex;
      align-items: center;
    }
  }
  svg {
    height: 16px;
    margin-right: 15px;
    margin-bottom: 2px;
    path {
      fill: $white;
    }
  }
  .title {
    font-size: 1.1em;
  }
}
.notifications-menu {
  transform: translateX(-100%);
  overflow: auto;
  padding-bottom: 48px;
  ul {
    border-top: 1px solid $white;
    .notification-item {
      border-bottom: 1px solid $light-gray-blue;
      flex-direction: column;
      a {
        color: $white;
        width: 100%;
        .small-wrapper {
          align-self: flex-start;
          color: $light-gray-blue;
          overflow: hidden;
          background: -webkit-linear-gradient(45deg, #99b1bd 75%, #5b859c 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          white-space: nowrap;
        }
      }
    }
  }
}

.signup-form {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.1em;
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10%;
    .label {
      color: $dark-blue-gray;
      margin: 3% 0;
      font-family: 'EB Garamond', serif;
      font-size: 1.2em;
    }
    .input {
      background-color: $white;
      border-radius: 0;
      height: auto;
      font-size: 1.1em;
      padding: 8px 10px;
      &:focus {
        border-color: $grayish-blue;
      }
    }
    .btn {
      margin: 5% auto;
      font-size: 1em;
      padding: 0 20px;
      font-weight: 300;
      text-transform: inherit;
      border-radius: 0;
      height: auto;
    }
  }
  .error-message {
    color: $error;
    font-size: 0.8em;
    margin: -10px 0 5px;
    &:before {
      content: '*';
      padding: 0 5px;
    }
  }
  .bottom-text {
    margin-top: 20%;
    color: $gunmetal;
    text-align: center;
    font-size: 0.9em;
    a {
      color: $grayish-blue;
    }
  }
}
.home-section {
  .messages-section {
    position: relative;
    height: 100%;
    min-height: calc(100vh - 375px);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 200px;
    background-image: url(/img/forest.png);
  }
  svg {
    width: 80%;
  }
  h2 {
    text-align: center;
    margin: 15px 0;
    font-size: 1.25em;
    letter-spacing: 1.5px;
  }
  .new-message-btn {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0;
    height: 60px;
    font-size: 1.1em;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    z-index: 10;
    svg {
      height: 30px;
      width: auto;
      margin-right: 8px;
    }
  }
  .view-more {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-gray;
    border: 2px solid $dark-gray;
    background: none;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 10px 0;
    text-transform: uppercase !important;
    max-width: 450px;
    margin: 0 auto;
    svg {
      height: 10px;
      width: auto;
      margin-left: 5px;
    }
  }
}

.clouds-header {
  border-bottom: 1px solid $gray;
  position: relative;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  .clouds {
    position: absolute;
    height: 65%;
    opacity: 0.85;
  }
  .left-cloud {
    left: 0;
    bottom: 0;
  }
  .right-cloud {
    right: 0;
    top: 0;
  }
}

.messages-wrapper {
  margin-bottom: 25px;
  background-color: $light-gray;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .message-card {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 0.85em;
    width: 100%;
    .message-content {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      text-align: center;
      width: 100%;
      height: 250px;
      padding: 45px;
      font-family: 'EB Garamond', serif;
      font-size: 1.5em;
      font-weight: 700;
      margin: 0;
    }
    .message-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 20px;
      font-weight: 300;
      p {
        margin-bottom: 0;
        margin-right: 12px;
      }
      .categories {
        display: flex;
        align-items: center;
        border: none;
        background: none;
        margin: 0;
        margin-left: auto;
        padding: 0;
        color: $dark-gray;
        height: auto;
        line-height: 1;
        color: $grayish-blue;
        font-weight: 700;
        position: relative;
        &.no-cat {
          color: $gunmetal;
        }
        svg {
          height: 8px;
          width: auto;
          margin-left: 5px;
          margin-top: 2px;
          path {
            fill: $grayish-blue;
          }
        }
      }
    }
    .message-bottom {
      margin-bottom: 15px;
      position: relative;
      width: 100%;
      &:after {
        content: '';
        position: absolute;
        left: 30px;
        top: -1px;
        border-top: solid 18px $white;
        border-right: solid 24px transparent;
      }
    }

    .message-reactions {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 10px 0;
      position: relative;
      .reaction-btn {
        display: flex;
        align-items: center;
        font-size: 0.8em;
        font-weight: 300;
        .reaction-icon {
          background: none;
          border: none;
          margin: 0;
          padding: 0;
        }
        svg {
          width: 25px;
          height: auto;
          margin-right: 7px;
          path {
            fill: $dark-gray;
          }
          &.disabled path {
            fill: $gray;
          }
        }
        .like {
          width: 30px;
          margin-right: 5px;
          path {
            fill: $light-gray;
            stroke: $dark-gray;
          }
        }
        .by-me {
          path {
            fill: $grayish-blue;
            stroke: $grayish-blue;
          }
        }
      }
      .text-button {
        color: $dark-gray;
        border: 2px solid $dark-gray;
        padding: 8px;
        margin-bottom: 0;
        margin-right: 7px;
        background: none;
        font-size: 1.15em !important;
        &.by-me {
          color: $white;
          background-color: $grayish-blue;
          border-color: $grayish-blue;
        }
      }
    }
  }
  .card-menu,
  .category-menu {
    border: 1px solid $gray;
    display: flex;
    justify-content: flex-end;
    background-color: $white;
    align-self: flex-end;
    position: absolute;
    top: 30px;
    right: 10px;
    ul {
      display: flex;
      flex-direction: column;
      padding: 8px 15px;
      margin-bottom: 0;
      li {
        list-style: none;
        display: flex;
        align-items: center;
        margin: 7px;
        padding-top: 3px;
        a {
          color: $dark-gray;
        }
        svg {
          height: 15px;
          width: auto;
          margin-right: 10px;
          path {
            fill: $dark-gray;
          }
        }
      }
    }
  }
  .category-menu {
    z-index: 5;
    top: 20px;
    right: -15%;
    width: 97vw;
    color: $grayish-blue;
    ul {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      li {
        margin: 10px 25px;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0a0a0a;
  margin-top: -1px;
  padding-bottom: 65px;
  .social {
    display: flex;
    svg {
      fill: $white;
      margin: 10px;
      height: 16px;
      width: auto;
    }
  }
  p {
    color: $gray;
    text-align: center;
    font-size: 0.85em;
    margin: 0;
  }
}

.message-editor {
  height: calc(100vh - 50px);
  .placeholder {
    color: $gunmetal;
    font-family: 'EB Garamond', serif;
    text-align: center;
    padding: 25% 15% 0;
    letter-spacing: 1px;
    font-size: 1.1em;
    p:last-child {
      font-weight: 700;
    }
  }
  form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    textarea {
      border: none;
      height: 70%;
      font-size: 1.2em;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      padding: 35% 10%;
      resize: none;
    }
    button {
      background: none;
      border: 2px solid $grayish-blue;
      color: $grayish-blue;
      display: flex;
      align-items: center;
      margin: auto 0 75px;
      padding: 10px 30px;
      svg {
        fill: $grayish-blue;
        height: 15px;
        margin-right: 5px;
        transform: rotate(-90deg);
      }
    }
  }
  .modal-buttons {
    button {
      width: auto;
      margin: 0 auto;
    }
  }
}

.messages-view {
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  background-color: $very-light-gray;
  .message-card {
    margin-bottom: 0;
  }
  .clouds-header {
    height: 100px;
    background-color: $light-gray;
    svg {
      width: 75%;
    }
    .clouds {
      height: 75%;
    }
  }
  .comments {
    margin-bottom: 60px;
    h3 {
      font-size: 1em;
      margin: 10px 20px;
    }
  }
  .comments-form {
    display: flex;
    align-items: center;
    background-color: $white;
    margin-top: auto;
    margin-bottom: 0;
    padding: 10px 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    textarea {
      border: none;
      min-height: auto;
      padding: 6px 10px;
      font-family: 'EB Garamond', serif;
      font-size: 1.1em;
    }
    button {
      background: none;
      border: none;
      padding: 0;
      margin-top: 3px;
      svg {
        height: 20px;
        path {
          fill: $grayish-blue;
        }
      }
    }
  }
  & * {
    margin: 0;
  }
  .comment-card {
    border-top: 1px solid $gray;
    font-size: 0.9em;
    padding: 10px 20px;
    .date span {
      color: $grayish-blue;
      font-size: 0.8em;
      margin-right: 10px;
    }
  }
}

.confirmation-wraper {
  position: fixed;
  display: flex;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  .confirmation-modal {
    background-color: $white;
    width: 80%;
    height: 25%;
    margin: auto;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h2 {
      font-size: 1.25em;
    }
    .modal-buttons {
      display: flex;
      justify-content: space-between;
      button {
        background-color: $grayish-blue;
        border-color: $grayish-blue;
        padding: 10px 0;
        width: 45%;
      }
    }
  }
}

.error-page {
  height: calc(100vh - 50px);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-image: url(/img/forest.png);
  text-align: center;
  color: $gunmetal;
  font-size: 1em;
  padding: 80px 70px 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-weight: 700;
  h2 {
    font-family: 'EB Garamond', serif;
    color: #9f9f9f;
    font-size: 6em;
    font-weight: 700;
  }
  .home-button {
    color: $grayish-blue;
    border: 2px solid $grayish-blue;
    padding: 10px 15px;
  }
  .clouds {
    position: absolute;
    height: 25%;
  }
  .left-cloud {
    left: 0;
    top: 20px;
  }
  .right-cloud {
    right: 0;
    top: 105px;
  }
}

/*--- Media Queries ---*/

@media (min-width: 480px) {
  .home-section {
    .new-message-btn {
      bottom: inherit;
      top: 0;
      right: 115px;
      width: auto;
      padding: 0 10px;
      font-size: 1em;
      height: 50px;
      svg {
        height: 22px;
      }
      &.hidden {
        display: none;
      }
    }
    .messages-section {
      background-repeat: repeat-x;
      background-size: 60%;
    }
    svg {
      width: 70%;
    }
  }
  footer {
    padding-bottom: 15px;
  }
  .messages-wrapper {
    justify-content: space-evenly;
    font-size: 0.9em;
    max-width: 925px;
    .message-card {
      width: 45%;
      max-width: 385px;
    }
  }
  .messages-view {
    .messages-wrapper {
      max-width: 100%;
      .message-card {
        width: 75%;
      }
    }
  }
}

@media (min-width: 768px) {
  .home-section {
    .messages-section {
      background-repeat: repeat-x;
      background-size: 40%;
    }
    svg {
      width: 60%;
    }
  }
  // .messages-wrapper {
  //   font-size: 0.8em;
  //   .message-card {
  //     width: 30%;
  //   }
  // }
}
